@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-1: #f9f8d9;
  --color-2: #038139;
  --color-3: #f75c33;
  --color-4: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 1px;
  transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-3);
}

body {
  background: var(--color-1);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--color-1);
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  top: 0;
  width: 100%;
  transition: background-color 0.5s, box-shadow 0.5s;
  z-index: 1000;
}

.logo {
  width: auto;
}

.logo img {
  border-radius: 100%;
  width: 50px;
}

.navbar-container .menu-icon {
  display: none;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-container li a {
  padding: 0.5rem 1.5rem;
  color: #000000;
  position: relative;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.menu-container li a:hover {
  color: #000000;
  transform: scale(1.1);
  opacity: 0.9;
}

.menu-container li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.menu-container li a:hover::after {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 100%;
  height: 45rem;
  background-image: url(/assets/img/backgroundHome.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.home-text {
  width: 100%;
  text-align: center;
  padding: 5rem;
}

.home-text h1 {
  font-size: 45px;
  font-weight: 600;
  color: var(--color-1);
}

.home-text p {
  font-size: 18px;
  padding: 2rem;
  color: var(--color-1);
  font-style: italic;
  font-weight: 100;
}

.home-text button {
  border: none;
  border-radius: 5px;
  background: var(--color-2);
  padding: 10px;
  width: 250px;
  transition: ease-in-out 0.3s;
}

.home-text button:hover {
  background: #04a148;
}

.home-text button,
a {
  color: var(--color-1);
  font-size: 15px;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background: var(--color-1);
}

.about-text {
  width: 50%;
  margin: 0 2rem;
}

.about-text h1 {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.about-text p {
  font-weight: 300;
  margin: 15px 0px;
}

.about-image {
  width: 50%;
  margin: 0 2rem;
}

.about-image img {
  width: 100%;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--color-2);
  border-radius: 500px 0px 500px 0px;
  box-shadow: inset 10px 5px 50px 10px #00000021;
}

.services-container h2 {
  text-align: center;
  color: var(--color-1);
  font-size: 40px;
  font-weight: 600;
  padding: 0.5rem;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.card-services {
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 3rem;
  padding: 1.5rem;
  background: #ffff;
  border-radius: 10px;
  box-shadow: 20px 30px 25px 0px #0000002f;
}

.card-services img {
  width: 50px;
  margin: 10px 0;
}

.card-services h3 {
  font-size: 20px;
}

.card-services p {
  font-size: 10px;
  margin: 12px 0;
}

.card-services a {
  font-size: 12px;
  padding: 0.3rem;
  border-radius: 5px;
  width: 200px;
  background: var(--color-3);
}

.products-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container h2 {
  text-align: center;
  color: var(--color-2);
  font-size: 40px;
  font-weight: 600;
  padding: 0.5rem;
}

.cards-container {
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container,
.slick-slide {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  padding: 2rem;
}

.cards-container,
.slick-dots {
  position: static;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.cards-products,
.slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  background: #ffff;
  border-radius: 10px;
}

.cards-products img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}

.cards-products h3 {
  font-size: 20px;
  color: var(--color-2);
}

.cards-products p {
  font-size: 12px;
  padding: 20px;
}

.cards-products a {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 0.3rem;
  border-radius: 5px;
  display: block;
  background: var(--color-2);
  transition: 0.3s ease-in-out;
}

.cards-products a:hover {
  background-color: #078a40;
}

.contact-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scoop-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.scoop-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
  margin: 2rem;
}

.scoop-img img {
  width: 100%;
}

.scoop-text {
  width: 50%;
  padding: 2rem;
}

.scoop-text h2 {
  color: var(--color-3);
  font-size: 40px;
}

.scoop-text p {
  margin: 20px 0;
}

.scoop-text a {
  background: var(--color-3);
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.scoop-text a:hover {
  background: #fc4817;
}

.whatsapp-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.whatsapp-text {
  width: 50%;
  padding: 2rem;
  margin: 2rem;
}

.whatsapp-text h2 {
  font-size: 40px;
  color: var(--color-2);
}

.whatsapp-text p {
  margin: 20px 0;
}

.whatsapp-text a {
  background: var(--color-2);
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.whatsapp-text a:hover {
  background: #04a148;
}

.whatsapp-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
  margin: 2rem;
}

.whatsapp-img img {
  width: 100%;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.location-map {
  width: 50%;
  padding: 2rem;
}

.location-map iframe {
   border-radius: 5px;
}

.location-text {
  width: 50%;
  padding: 2rem;
}

.location-text h2 {
   font-size: 40px;
   color: var(--color-2);
}

.location-text p {
   margin: 25px 0px;
}

.location-text a {
   background: var(--color-2);
   padding: 0.5rem;
   border-radius: 5px;
   transition: 0.3s ease-in-out
}

.location-text a:hover {
  background: #04a148;
}