:root {
  --color-1: #f9f8d9;
  --color-2: #038139;
  --color-3: #f75c33;
  --color-4: #000000;
}

@media (max-width: 1024px) {
  .card-content {
    padding: 3rem;
  }

  .card-services {
    margin: 0 1rem;
    padding: 1.5rem;
  }

  .card-services p {
    font-size: 10px;
    margin: 15px 0;
  }
}

@media (max-width: 768px) {
  header {
    padding: 3rem;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 2rem;
    top: 80px;
    right: 0;
    background-color: var(--color-1);
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
  }

  .menu-container li {
    padding: 1rem 0;
    width: 100%;
  }

  .menu-container li:hover {
    border-bottom: 1px solid #03813a77;
  }

  .menu-container li a::after {
    display: none;
  }

  .menu-container li a:hover {
    color: var(--color-2);
  }

  .navbar-container .menu-icon {
    cursor: pointer;
    display: block;
    font-size: 2.5rem;
    z-index: 1100;
  }

  .menu-container.active {
    opacity: 1;
    transform: translateY(1);
  }

  .home-container {
    padding: 0rem;
  }

  .home-text {
    padding: 2rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-text {
    width: 100%;
    text-align: center;
    padding: 0rem;
  }

  .about-text p {
    font-size: 18px;
  }

  .about-image {
    width: 100%;
  }

  .services-container {
    border-radius: 0;
  }

  .services-container h2 {
    width: 100%;
  }

  .card-content {
    flex-direction: column;
    padding: 1rem;
  }

  .card-services {
    width: 100%;
    margin: 3rem;
    padding: 3rem;
  }

  .card-services h3 {
    font-size: 25px;
  }

  .card-services p {
    font-size: 15px;
    margin: 15px 0;
  }

  .card-services a {
    font-size: 15px;
  }

  .bg-container p {
    font-size: 25px;
  }

  .products-container h2 {
    width: 100%;
  }

  .cards-container,
  .slick-slide {
    margin: 0px 10px;
  }

  .bg-container-1 p {
    text-align: center;
    font-size: 25px;
  }

  .scoop-container {
    flex-direction: column;
  }

  .scoop-img {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }

  .scoop-text {
    width: 100%;
    text-align: center;
  }

  .whatsapp-container {
    flex-direction: column-reverse;
  }

  .whatsapp-img {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }

  .whatsapp-text {
    width: 100%;
    text-align: center;
  }

  .whatsapp-text a {
    font-size: 15px;
  }

  .location-container {
    flex-direction: column-reverse;
  }

  .location-map {
    width: 100%;
    padding: 4rem;
  }

  .location-text {
    width: 100%;
    text-align: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .social-media {
    margin: 20px 0;
  }

  .endereco{
     text-align: center;
  }

  .endereco p {
     font-size: 12px;
  }
}

@media (max-width: 425px) {
  header {
    padding: 2rem;
  }

  .menu-container {
    padding: 1rem;
  }

  .menu-container li {
    padding: 0.5rem 0;
    width: 100%;
  }

  .menu-container li a {
    font-size: 15px;
  }

  .navbar-container .menu-icon {
    cursor: pointer;
    display: inline;
    font-size: 2rem;
  }

  .home-text h1 {
    font-size: 30px;
  }

  .home-text p {
    font-size: 14px;
    padding: 1.6rem;
  }

  .home-text button {
    width: 200px;
  }

  .home-text button,
  a {
    font-size: 12px;
  }
  .about-container {
    padding: 1rem;
  }
  .about-text {
    padding: 1rem;
  }
  .about-text h1 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 14px;
  }

  .services-container {
    padding: 1rem;
  }
  .services-container h2 {
    font-size: 30px;
  }

  .card-container {
    padding: 0;
  }

  .card-services {
    width: 100%;
    padding: 2rem;
  }

  .card-services h3 {
    font-size: 20px;
  }

  .card-services p {
    font-size: 12px;
    margin: 12px 0;
  }

  .card-services a {
    font-size: 12px;
  }

  .bg-container {
    width: 100%;
    height: 100px;
  }

  .bg-container p {
    font-size: 16px;
  }

  .products-container {
    padding: 1rem;
  }

  .products-container h2 {
    font-size: 28px;
  }

  .bg-container-1 p {
    font-size: 16px;
  }

  .scoop-text {
    padding: 0rem;
  }

  .scoop-text h2 {
    font-size: 25px;
  }

  .scoop-text p {
    font-size: 12px;
  }

  .scoop-text a {
    font-size: 12px;
  }

  .whatsapp-text {
    padding: 0rem;
  }

  .whatsapp-text h2 {
    font-size: 25px;
  }

  .whatsapp-text p {
    font-size: 12px;
  }

  .whatsapp-text a {
    font-size: 12px;
  }

  .location-container {
    padding: 0rem;
  }

  .location-map {
    padding: 1rem;
  }

  .location-text h2 {
    font-size: 25px;
  }

  .location-text p {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  header {
    padding: 1rem;
  }

  .menu-container {
    padding: 1rem;
  }

  .home-text {
    padding: 1rem;
  }
  .home-text p {
    font-size: 12px;
    padding: 1.6rem;
  }
  .about-text h1 {
    font-size: 28px;
  }

  .about-text p {
    font-size: 13px;
  }

  .services-container h2 {
    font-size: 24px;
  }

  .card-services {
    padding: 1rem;
  }
  .card-services {
    margin: 1.5rem;
  }

  .bg-container p {
    font-size: 15px;
  }

  .products-container h2 {
    font-size: 24px;
  }

  .bg-container-1 p {
    font-size: 15px;
  }

  .contact-container {
    padding: 0;
  }
}

@media (max-width: 390px) {
  header {
    padding: 2rem;
  }

  .menu-container {
    padding: 1rem;
  }
}

@media (max-width: 320px) {
  .about-text h1 {
    font-size: 25px;
  }

  .about-text p {
    font-size: 12px;
  }

  .services-container h2 {
    font-size: 20px;
  }

  .bg-container p {
    font-size: 15px;
  }

  .products-container h2 {
    font-size: 20px;
  }

  .cards-products img {
    width: 100%;
    height: 200px;
  }

  .cards-products h3 {
    font-size: 18px;
  }

  .cards-products p {
    font-size: 10px;
    padding: 16px;
  }

  .cards-products a {
    width: 90%;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .bg-container-1 {
    padding: 1rem;
  }

  .contact-container {
    padding: 1rem;
  }

  .scoop-container {
    padding: 1rem;
    margin: 40px 0px;
  }

  .scoop-text {
    padding: 0;
  }

  .whatsapp-container {
    padding: 1rem;
  }

  .whatsapp-text {
    padding: 0;
  }
}
